/*-----------------------------------------------------Contraste-----------------------------------------------------*/
body.contraste,
body.contraste #wrap-2,
body.contraste #header,
body.contraste #sobre,
body.contraste #footer,
body.contraste #main,
body.contraste #doormat-container,
body.contraste #em-destaque ul,
body.contraste #em-destaque li#em-destaque-titulo,
body.contraste .outstanding-header .outstanding-title,
body.contraste .audiogallery-tile,
body.contraste .videogallery-tile,
body.contraste ul.css-tabs a,
body.contraste .timeline,
body.contraste .timeline a {
  background: #000;
  color: #fff;
}

body.contraste #barra-psocial #cat_menu {
  background-image: url("images/logo-PS-barra-pb.png");
}

body.contraste #user {
  background: #000 !important;
  color: #FFF;
}

body.contraste #user a,
body.contraste #user a strong {
  color: #ffff00;
}

/* Barra de navegacao  */
body.contraste #wrap-2 #navigation,
body.contraste #wrap-2 #navigation .user-home a,
body.contraste #wrap-2 #navigation .user-pending-tasks a,
body.contraste #wrap-2 #navigation .user-menu a,
body.contraste #wrap-2 #navigation .hamburger-menu a {
  background-color: #333;
  color: #FFF;
}

/*menu-dropdown*/
body.contraste #wrap-2 #navigation ul #link_login,
body.contraste #wrap-2 #navigation ul .user-home .home,
body.contraste #wrap-2 #navigation ul .user-home .fa-user,
body.contraste #wrap-2 #navigation ul .user-pending-tasks,
body.contraste #wrap-2 #navigation ul .user-pending-tasks .menu-toggle .fa-bell,
body.contraste #wrap-2 #navigation ul .trigger-menu-toggle,
body.contraste #wrap-2 #navigation ul .menu-toggle,
body.contraste #wrap-2 #navigation ul li a {
  color: #FFF !important;
  background-color: #333;
}

/*pendig-task menu-dropdown*/
body.contraste #navigation ul li.user-pending-tasks .noosfero-dropdown-menu li .task-box,
body.contraste #navigation ul li.user-pending-tasks .noosfero-dropdown-menu li .task-box:hover,
body.contraste .all-tasks-button {
  background-color: #333;
}

body.contraste #wrap-2 #navigation ul li a:hover {
  color: #FFF !important;
}

body.contraste #content .box-2 .tags-block .block-footer-content a,
body.contraste #content .box-2 .people-block .block-footer-content a,
body.contraste #content .box-2 .profile-list-block .block-footer-content a,
body.contraste #content .box-2 .enterprises-block .block-footer-content a,
body.contraste #content .box-2 .members-block .block-footer-content a,
body.contraste #content .box-2 .communities-block .block-footer-content a,
body.contraste #content .box-2 .friends-block .block-footer-content a,
body.contraste #content .more_button .view_all a,
body.contraste #content .read_more a,
body.contraste .more_button .view_all a,
body.contraste .read_more a {
  background-image: none;
  background-color: #333;
  color: #ffff00;
}

body.contraste.action-home-index #content .article-block .short-post .read-more a,
body.contraste #content .box-1 .tags-block .block-footer-content a,
body.contraste #content .box-1 .people-block .block-footer-content a,
body.contraste #content .box-1 .profile-list-block .block-footer-content a,
body.contraste #content .box-1 .enterprises-block .block-footer-content a,
body.contraste #content .box-1 .members-block .block-footer-content a,
body.contraste #content .box-1 .communities-block .block-footer-content a,
body.contraste #content .box-1 .friends-block .block-footer-content a,
body.contraste #content .more_button .view_all a,
body.contraste #content .read_more a,
body.contraste .more_button .view_all a,
body.contraste .read_more a {
  background: url("images/button-read-more-vazio-contraste.png") no-repeat scroll left 50% #333;
  color: #ffff00;
  border: 0;
  border-radius: 0;
}

body.contraste a,
body.contraste #accessibility a,
body.contraste #portal-siteactions a,
body.contraste #logo a,
body.contraste #logo #portal-title,
body.contraste #sobre a,
body.contraste h1,
body.contraste h2,
body.contraste h3,
body.contraste h4,
body.contraste h5,
body.contraste h6,
body.contraste #plone-document-byline,
body.contraste #doormat-container dt,
body.contraste #content .documentDescription,
body.contraste #content #description,
body.contraste .nitfByline,
body.contraste p.section,
/* body.contraste .track_list .item_card .track_stats .hits .label, */
/* body.contraste .track_list .item_card .track_stats .comments .label, */
body.contraste.action-home-index #content .display-content-block .lead p,
body.contraste.action-environment_design-index #content .display-content-block .lead p,
body.contraste.action-home-index #content .display-content-block .published-at,
body.contraste.action-environment_design-index #content .display-content-block .published-at {
  color: #fff;
}

/*-----------------------------------------------------Seção */
body.contraste #content .trilha .section-block,
body.contraste #content .destaque .section-block,
body.contraste #content .conexoes .section-block {
  background: #000 !important;
  color: #fff !important;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

body.contraste #content .breadcrumbs-plugin_content-breadcrumbs-block a,
body.contraste #content .breadcrumbs-plugin_content-breadcrumbs-block a:visited,
body.contraste #content a:link,
body.contraste #content a:link,
body.contraste #content a:visited,
body.contraste #content a {
  color: #ffff00;
}

body.contraste.action-home-index #content .container-block-plugin_container-block .display-content-block .title a,
body.contraste.action-environment_design-index #content .container-block-plugin_container-block .display-content-block .title a,
body.contraste #content .display-content-block .title a,
body.contraste #content .track_list .item_card .track_content .name,
body.contraste .action-home-index #content .container-block-plugin_container-block .display-content-block .title a,
body.contraste .action-environment_design-index #content .container-block-plugin_container-block .display-content-block .title a,
body.contraste #content .track_list .item .track_content .lead a {
  color: #ffff00;
}

body.contraste.action-home-index #wrap-2,
body.contraste.action-environment_design-index #wrap-2 {
	background-image: none;
}

body.contraste.action-home-index .block .block-inner-2,
body.contraste.action-environment_design-index .block .block-inner-2,
body.contraste.action-home-index #content .tags-block .block-inner-2,
body.contraste.action-environment_design-index #content .tags-block .block-inner-2 {
  background-color: #333;
}

body.contraste.action-home-index .community-track-plugin_track-card-list-block .block-inner-2 {
  background-image: none;
  background-color: #fff;
}

body.contraste.action-home-index #content .tags-block .block-inner-2,
body.contraste.action-environment_design-index #content .tags-block .block-inner-2 {
  border-top: 1px solid #fff;
}

body.contraste.action-home-index #content .box-1 .block-title span,
body.contraste.action-environment_design-index #content .box-1 .block-title span {
  color: #000;
  background-color: white;
}

body.contraste #accessibility span {
	background: #fff !important;
	color: #000 !important;
}

body.contraste #content .box .block-title {
  background-color: #333;
  border-bottom: none;
}

body.contraste.action-home-index .container-block-plugin_container-block .container-block-plugin_container-block,
body.contraste.action-environment_design-index .container-block-plugin_container-block .container-block-plugin_container-block,
body.contraste.action-home-index #content .box .block-title,
body.contraste.action-environment_design-index #content .box .block-title,
body.contraste .container-block-plugin_container-block .block .block-inner-2,
body.contraste #footer-content {
  background-color: transparent;
}

body.contraste #content .link-list-block li a {
  background-color: #000;
  color: #FFF;
}

body.contraste #content .link-list-block li a.link-this-page,
body.contraste #content .link-list-block li a:hover {
  background-color: #333;
  color: #ffff00;
}

body.contraste #content .profile-info-options input.button.with-text,
body.contraste #content .profile-info-options a.button.with-text {
  background-color: #333;
  color: #ffff00;
}

body.contraste.action-content_viewer-view_page #content .box-1 .block-title span {
	background-color: #000;
	color: white;
}

body.contraste #content .article-comment {
  background: none repeat scroll 0 0 #000;
}

body.contraste #comments_list .comment-info,
body.contraste #comments_list .comment-created-at,
body.contraste #footer-license a,
body.contraste #footer-license p {
  color: #ffff00;
}

body.contraste #comments_list .comment-wrapper-8 {
  background-color: #000000;
  background-image: none;
  border: 1px solid #DDDDDD;
}

body.contraste #comments_list a.display-comment-form,
body.contraste #content input.button,
body.contraste #content a.button {
  background-color: #333;
}

body.contraste #content .recent-documents-block li {
  background-color: #000;
}

/*-----------------------------------------------------Trilhas */
body.contraste #content .track_list .item_card .track_stats .comments {
  background: transparent url("images/05.png") no-repeat left center;
}

body.contraste #content .track_list .item_card .track_stats .hits {
  background: transparent url("images/06.png") no-repeat left center;
}

body.contraste #content .track_list .item_card .track_stats,
body.contraste #content .track_list .item_card .track_content .title {
	background-color: #333;
	color: #fff;
  border-color: #fff;
  border-radius: 0px;
}

body.contraste #content .track_list,
body.contraste #content .track_list .item_card,
body.contraste #content .track_list .item_card .track_content {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

body.contraste #content .track_list .item_card .track_content .lead  {
	color: #fff;
}

/*-----------------------------------------------------Botões das Trilhas */
body.contraste #content .community-track-plugin_track-card-list-block .block-footer-content .more,
body.contraste #content .todasnoticias #read-more-news a,
body.contraste #content .block.pessoas.people-block .block-footer-content a.view-all,
body.contraste #content .block.comunidades.communities-block .block-footer-content a.view-all {
	background-color: #333;
	color: #fff;
}

/*-----------------------------------------------------Destaques */
body.contraste #content .destaquemaior .read_more {
  background-color: #000;
	color: #fff;
}

body.contraste #content .destaquemenor ul li {
  border-top: 1px solid #fff;
}

body.contraste #content .destaquemaior .read_more a,
body.contraste #content .destaquemenor .read_more a {
  color: #ffff00;
}

/*-----------------------------------------------------Pessoas, Comunidades, Redes Sociais */
body.contraste #content .block.pessoas.people-block,
body.contraste #content .block.comunidades.communities-block,
body.contraste #content .block.redessociais.raw-html-block {
  background-color: #000;
  border: 1px solid #FFF;
}

body.contraste #content .block.pessoas.people-block .block-header,
body.contraste #content .block.comunidades.communities-block .block-header,
body.contraste #content .block.redessociais.raw-html-block .block-header,
body.contraste #content .block.pessoas.people-block .block-title span,
body.contraste #content .block.comunidades.communities-block .block-title span,
body.contraste #content .block.redessociais.raw-html-block .block-title span {
  background-color: #333;
	color: #fff;
}
body.contraste .profile-list li:hover,
body.contraste .common-profile-list-block .vcard:hover,
body.contraste .common-profile-list-block .vcard a,
body.contraste .common-profile-list-block .vcard a:hover {
  background-color: #000;
  color: #fff;
}

body.contraste .ui-widget-content {
	background-color: #000;
	color: #fff;
}

body.contraste #content .redessociais li.instagram {
  background-position: -116px -214px;
  width: 29px;
  height: 29px;
}

body.contraste #content .redessociais li.twitter {
  background-position: -126px -150px;
  width: 27px;
  height: 28px;
}

body.contraste #content .redessociais li.facebook {
  background-position: -153px -150px;
  width: 25px;
  height: 28px;
}

body.contraste .ui-state-active,
body.contraste .ui-widget-content .ui-state-active,
body.contraste .ui-widget-header .ui-state-active {
  background-image: none;
  background-color: #000;
}

body.contraste #footer-logos {
  background-color: #222;
}

body.contraste #theme-header .header-content #link-faq a {
  border-right: 1px solid #ffF;
}

body.contraste #portal-siteactions {
  border-bottom: 1px dotted #fff;
}

/*-----------------------------------------------------Estatisticas, Nuvem Tag */
body.contraste #content .estatisticas .statistics-block,
body.contraste #content .nuvemtag .tag_cloud {
  background-color: #000;
}

body.contraste #content .nuvemtag .tag_cloud a.tag-cloud-item {
  color: #ffff00;
}

/*-----------------------------------------------------Social Icons */
body.contraste #social-icons #sb_face {
  background-image: url("images/icon-fb-branco.png");
}

body.contraste #social-icons #sb_face:hover {
  background: url("images/icon-fb-branco.png") 0 20px;
}

body.contraste #social-icons #sb_flickr {
  background-image: url("images/icon-flickr-branco.png");
}

body.contraste #social-icons #sb_flickr:hover {
  background: url("images/icon-flickr-branco.png") 0 20px;
}

body.contraste #social-icons #sb_twitter {
  background-image: url("images/icon-twitter-branco.png");
}

body.contraste #social-icons #sb_twitter:hover {
  background: url("images/icon-twitter-branco.png") 0 20px;
}

body.contraste #social-icons #sb_youtube {
  background-image: url("images/icon-yt-branco.png");
}

body.contraste #social-icons #sb_youtube:hover {
  background: url("images/icon-yt-branco.png") 0 20px;
}

/*-----------------------------------------------------*/
body.contrast #footer-content *, body.contrast #top-header {
  background: #000;
  color: #FFFFFF !important;
}

/*-----------------------------------------------------Elementos fora da capa */
body.contraste label,
body.contraste .help-tooltip,
body.contraste .required-field,
body.contraste .required-fields-msg,
body.contraste .pseudoformlabel,
body.contraste .formlabel,
body.contraste label.formlabel::after {
  color: #fff;
}

body.contraste .formfield input {
  color: #fff;
}

body.contraste input#filter-text-autocomplete,
body.contraste #filter-text-autocomplete {
  color: #fff;
}

/*---------------------------------Pagina de login */
body.contraste #noosfero-modal #noosfero-modal-content {
  background-color: #000;
}

/* body.contraste .login-box .formfieldline input {
  color: #fff;
} */

body.contraste .login-box .button-bar a.button {
  color: #fff;
  border-color: #fff;
}

body.contraste a.btn-blue:not(.keep-when-hover):hover,
body.contraste a.icon-new:not(.keep-when-hover):hover,
body.contraste a.icon-save:not(.keep-when-hover):hover,
body.contraste a.icon-upload:not(.keep-when-hover):hover,
body.contraste a.icon-login:not(.keep-when-hover),
body.contraste a.icon-login:not(.keep-when-hover):hover,
body.contraste a.icon-none:not(.keep-when-hover):hover,
body.contraste a.icon-user-plus:not(.keep-when-hover):hover,
body.contraste a.icon-ok:not(.keep-when-hover):hover {
  color: #ffff00 !important;
  background: #333 !important;
  border-color: #FFF !important;
}

body.contraste .login-box .forgot-passwd a {
  color: #FFF;
}

/*---------------------------------Pagina de registro */
body.contraste #signup-form,
body.contraste #signup-form .formlabel,
body.contraste #signup-form input {
  color: #fff;
}

body.contraste #signup-username-section #signup-username-form-line #signup-domain {
  background-color: #000;
  color: #fff;
}

/*---------------------------------Pagina de perfil */
body.contraste #content .profile-image-block p {
  color: #fff;
}

body.contraste .tooltip {
  border: 1px solid #FFF;
  background-color: #000;
}

body.contraste #content .main-block h1 {
  border-bottom: 1px solid #FFF;
}

body.contraste #content .button,
body.contraste #content a.button:not(.keep-when-hover):hover,
body.contraste #content a.button {
  color: #ffff00;
  background-color: #333;
  border-color: #FFF;
}

/* Important necessario por causa de aplication.css */
body.contraste a.btn-green,
body.contraste a.icon-search,
body.contraste a.icon-plus,
body.contraste a.icon-toggle-on {
  color: #ffff00 !important;
  background-color: #333 !important;
  border-color: #FFF !important;
}

body.contraste #article-tags a.tag,
body.contraste #content a:link:hover,
body.contraste #content a:hover {
  background-color: #000;
  color: #ffff00;
}

body.contraste #content .link-list-block li:hover,
body.contraste #content .profile-info-options li:hover {
  background-color: #000;
}

body.contraste th {
  border-bottom: 2px solid #FFF;
}

body.contraste tr:hover td {
  background-color: #000;
}

body.contraste #profile-wall ul,
body.contraste #profile-wall ul li,
body.contraste #profile-wall ul#profile_activities {
  background-color: #000;
}

body.contraste .profile-activity-text,
body.contraste .profile-activities .profile-activity-time,
body.contraste #profile-network .profile-activity-time,
body.contraste #profile-wall .profile-wall-time {
  color: #FFF;
}


/*---------------------------------Pagina de comunidade */
body.contraste .ui-tabs li.tab.ui-state-active a,
body.contraste .ui-tabs-nav li.tab.ui-state-active {
  color: #ffff00 !important;
  border-top: 1px solid #FFF !important;
}

body.contraste #content .main-block .publishing-info {
  color: #FFF;
}

body.contraste #article-cat .categories-cloud a,
body.contraste #content div.path-to-parents {
  background-color: #000;
}

body.contraste .article-footer {
  border-top: 2px solid #FFF;
}

/*---------------------------------Pagina de pesquisa */
body.contraste #content .no-boxes h1 {
  border-bottom: 2px solid #FFF;
}

body.contraste ul#assets-menu li.selected a {
  border-bottom: 2px solid #ffff00;
}

body.contraste .controller-search,
body.contraste .controller-search #total-results,
body.contraste  #total-results {
  color: #FFF;
}

/* Listas com seta */
body.contraste .formfield.type-select select,
body.contraste #memberships_filter,
body.contraste .controller-search .search-field #search-filters,
body.contraste #profile_data_notification_time,
body.contraste #order {
  color: #fff;
  background-color: #000;
}

body.contraste .pagination .disabled,
body.contraste .pagination .current {
  color: #fff;
  background-color: #000;
}

body.contraste #search-results,
body.contraste #search-results h1,
body.contraste #search-results h2,
body.contraste #search-results h3,
body.contraste #search-results h4,
body.contraste #search-results h5,
body.contraste #search-results h6 {
  color: #FFF;
}

body.contraste #search-results .search-results-articles,
body.contraste #search-results .search-results-articles ul li,
body.contraste #search-results .search-results-articles ul li.article-item .search-content-second-column,
body.contraste #search-results .search-results-articles ul li.article-item .search-content-second-column .search-article-tags-container a.search-article-tag {
  color: #FFF;
}

body.contraste #search-results .search-results-articles ul li.article-item .search-content-second-column h2 a,
body.contraste #search-results .search-results-articles ul li.article-item .search-content-second-column h2 a:hover {
  color: #ffff00;
}

body.contraste .search-article-tags .search-article-tag,
body.contraste .search-article-categories .search-article-category {
  background-color: #000;
  border: 1px solid #FFF;
}

body.contraste #search-results .search-results-articles ul li.article-item .search-content-second-column .search-article-tags-container a.search-article-tag,
body.contraste #search-results .search-results-articles ul li.article-item .search-content-second-column .categories-cloud a {
  background-color: #000;
}

body.contraste #content .search-results-box a.see-more,
body.contraste #content .search-results-box a.see-more:hover {
  color: #ffff00;
  background-color: #000;
  border: none;
}

body.contraste .search-results-box a.see-more {
  border: 1px solid #FFF;
}

/*---------------------------------Pagina de artigo */
body.contraste #article,
body.contraste #article .article-body-text-article {
  background-color: #000;
  color: #FFF;
}

body.contraste #content .comments h3 {
  border-bottom: 2px solid #FFF;
}

/*---------------------------------Pagina de evento */
body.contraste #agenda td,
body.contraste #agenda th {
  background-color: #000;
}

/*---------------------------------Painel de controle */
body.contraste .control-panel h2 {
  background-color: #333;
}

body.contraste .control-panel a i.fa,
body.contraste .control-panel a:hover i.fa {
 color: #FFF;
}

body.contraste #control-panel-filter {
  color: #FFF;
}

/* Important necessario por causa de aplication.css */
body.contraste a.btn-blue,
body.contraste a.icon-new,
body.contraste a.icon-save,
body.contraste a.icon-upload,
body.contraste a.icon-login,
body.contraste a.icon-none,
body.contraste a.icon-user-plus,
body.contraste a.icon-ok {
  color: #ffff00 !important;
  background-color: #333 !important;
  border-color: #FFF !important;
}

body.contraste a.btn-red,
body.contraste a.btn-red:hover,
body.contraste a.icon-delete.with-text,
body.contraste a.icon-delete.with-text:hover,
body.contraste a.icon-ban.with-text,
body.contraste a.icon-ban.with-text:hover {
  color: #ffff00 !important;
  background-color: #333 !important;
  border-color: #FFF !important;
}

/*---------------------------------Painel de adm */
body.contraste .admin-panel-menu-item:hover,
body.contraste .admin-panel-menu-item:active {
  background-color: #000;
}
