<div id="barra-brasil">
  <a href="http://brasil.gov.br" style="background:#7F7F7F; height: 20px; padding:4px 0 4px 10px; display: block; font-family:sans,sans-serif; text-decoration:none; color:white; ">Portal do Governo Brasileiro</a>
</div>

<div class="header-content">
  <div role="banner" id="header">

    <div class="top-header">
      <ul id="accessibility">
        <li>
          <a id="link-conteudo" href="#content" accesskey="1">
            Ir para o conteúdo
            <span>1</span>
          </a>
        </li>
        <li>
          <a id="link-navegacao" href="#barra-psocial" accesskey="2">
            Ir para o menu
            <span>2</span>
          </a>
        </li>
        <li>
          <a id="link-buscar" href="#portal-searchbox" accesskey="3">
            Ir para a busca
            <span>3</span>
          </a>
        </li>
        <li>
          <a id="link-rodape" href="#global-footer" accesskey="4">
            Ir para o rodapé
            <span>4</span>
          </a>
        </li>
      </ul>

      <ul id="portal-siteactions">
        <li id="siteaction-accessibility">
          <a href="/ajuda/acessibilidade" class="link-this-page">Acessibilidade</a>
        </li>
        <li id="siteaction-contraste">
          <a href="#" class="link-this-page">Alto Contraste</a>
        </li>
        <li id="siteaction-mapadosite">
          <a href="/ajuda/mapa-do-site">Mapa do Site</a>
        </li>
      </ul>
    </div>

    <div class="mid-header">
      <div id="logo">
        <a title="Participa.br" href="/" class="link-this-page">
          <span id="portal-title">Participa.br</span>
        </a>
      </div>
      <div id="social-icons">
        <div id="top-search">
          <form action="/search/articles" class="search_form clean" method="get">
            <input name="query" placeholder="<%=_('Buscar no site')%>"/>
            <input type="submit" class="button with-text icon-search hidden-submit submit" id="top-search-button" value="<%=_('Search')%>"/>
            <a class="button with-text icon-search" style="margin: 0em;" href="#" onclick="submit_form(this); return false;">
              <div>
                <i class="fa fa-search" aria-hidden="true"></i>
                <span>Buscar</span>
              </div>
            </a>
          </form>
        </div>
        <ul>
          <li>
            <a id="sb_flickr" title="Flickr" href="https://www.flickr.com/photos/110745331@N02/">
              <span>Flickr</span></a>
          </li>
          <li>
            <a id="sb_face" title="Facebook" href="http://facebook.com/participabr">
              <span>Facebook</span></a>
          </li>
          <li>
            <a id="sb_youtube" title="Youtube" href="https://www.youtube.com/participabrasil">
              <span>Youtube</span></a>
          </li>
          <li>
            <a id="sb_twitter" title="Twitter" href="http://twitter.com/participabr">
              <span>Twitter</span></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="bottom-header">
      <div id="sobre">
        <ul>
          <li id="link-faq">
            <a href="/ajuda/ajuda/duvidas-frequentes">Perguntas frequentes</a>
          </li>
          <li id="link-contact">
            <a href="/contact/portal/new">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
