/*-----------------------------------------------------Sections-----------------------------------------------------*/
@media only screen and (max-width: 764px) {
  .controller-home #content #boxes .block .section-block-description{
    display: none;
  }
  .controller-home #content #boxes .block .section-block{
    text-align: center;
    padding-left: 0px;
  }
}

.controller-home #content {
  padding: 32px 0 0 0;
}

.controller-home #content .block {
  padding-bottom: 10px;
}

.controller-home #content .boxes {
  margin: none;
  width: 100%;
}

.controller-home #content .section-block-plugin_section-block {
  width: 100%;
  padding-top: 0px;
  margin-top: -32px;
}

.controller-home #content .section-block {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  font-family: "Ubuntu Mediun";
  font-size: 14px;
  font-variant: normal;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
}

/*--------------------Pessoas-------------*/ /*verificar com base do noosf*/

.controller-home #content .block ul.common-profile-list-block {
  justify-content: center;
  width: 100%;
  display: flex;
}
.controller-home #content .people-block .block-footer-content a {
  position: relative;
  padding-right: 0px;
}

/*--------------------Bloco alinhamento-------------*/

.controller-home #content .block-footer-content {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

/*--------------------Trilhas-------------*/

.controller-home #content .track_list .item_card {
  background: #F3F4E6;
  border: 2px solid #696778;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 295px;
  margin: 0 15px 15px 0;
  padding: 0;
  width: 300px;
  min-width: 127px;
  float: left;
}

.controller-home #content .track_list .item_card a,
.controller-home #content .track_list .item_card a:hover,
.controller-home #content .track_list .item_card a:visited {
  text-decoration: none;
  color: #444;
}

@media only screen and (max-width: 1019px) {
  .controller-home #content .community-track-plugin_track-card-list-block .block-footer-content .more_button {
    margin-left: 0px !important;
  }
}

.controller-home #content .community-track-plugin_track-card-list-block .block-footer-content .more_button a {
  color: #FFF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.controller-home #content .community-track-plugin_track-card-list-block .block-footer-content .more {
  background: #258FC2;
  border-radius: 45px;
  padding: 10px 45px;
}

.controller-home #boxes .blocks .track_list .item_card .title {
  background: #FFF url(images/icon-generic.png) no-repeat 15px center;
  border-color: #696778;
  border-radius: 5px 5px 0 0;
  color: #696778;
  height: 100px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 22px;
  font-weight: bold;
  line-height: 100px;
  margin: 0;
  overflow: hidden;
  padding-left: 95px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.controller-home #content .track_list .title {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #DDDDDD;
  padding: 2px 0px;
  margin-bottom: 5px;
  min-height: 10px;
}

.controller-home #content .track_list .item_card .name {
  color: #696778;
  max-height: 38px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  margin: 20px 10px 15px;
  overflow: hidden;
  padding: 0;
}

.controller-home #content .track_list .item_card.category_ciencia-e-tecnologia .track_stats .read_more a {
  background: transparent url("images/read-more-tec.png") no-repeat center center;
}

.controller-home #content .track_list .item_card .lead {
  color: #696778;
  max-height: 48px;
  font-size: 14px;
  line-height: 16px;
  margin: 0 10px;
  overflow: hidden;
}

.controller-home #content .track_list .item_card .track_stats {
  background: #3C9BAF;
  border: none;
  border-radius: 0 0 3px 3px;
  display: block;
  height: 41px;
  margin: 2px;
  display: flex;
  justify-content: center;
}

.controller-home #content .track_list .item_card .track_stats .comments,
.controller-home #content .track_list .item_card .track_stats .hits {
  background: transparent url("images/05.png") no-repeat left center;
  float: left;
  height: 18px;
  margin: 12px 0px 10px 10px;
  width: auto;
}

.controller-home #content .track_list .item_card .track_stats .hits {
  background: transparent url("images/06.png") no-repeat left center;
  margin: 12px 0px 10px 20px;
}

.controller-home #content .track_list .item_card .track_stats {
  color: #FFF;
  font-size: 14px;
}

.controller-home #content .track_list .item_card .track_stats .comments .counter,
.controller-home #content .track_list .item_card .track_stats .hits .counter {
  font-size: 14px;
  padding: 0 0 0 25px;
}

.controller-home #content .track_list .item_card .track_stats .read_more {
  float: right;
  padding: 6px 15px;
}

.controller-home #content .track_list .item_card {
  margin-left: 20px;
}

.controller-home #content .community-track-plugin_track-card-list-block {
  width: 100%;
  max-width: 1200px;
}

.controller-home #content .track_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* -- Custom Track List CSS -- */
.controller-home #content .track_list .category_cultura,
.controller-home #content .track_list .category_lazer,
.controller-home #content .track_list .category_esporte {
  background: #FAF9EE;
  border-color: #F4DFBE;
}

.controller-home #content .track_list .category_cultura .track_content .title,
.controller-home #content .track_list .category_lazer .track_content .title,
.controller-home #content .track_list .category_esporte .track_content .title {
  background: #FFF url('images/icon-culture.png') no-repeat 15px center;
  border-color: #F4DFBE;
  color: #AF6EAF;
}

.controller-home #content .track_list .category_cultura .track_stats,
.controller-home #content .track_list .category_lazer .track_stats,
.controller-home #content .track_list .category_esporte .track_stats {
  background: #FA9E00;
}

.controller-home #content .track_list .category_cultura .track_stats .read_more a,
.controller-home #content .track_list .category_lazer .track_stats .read_more a,
.controller-home #content .track_list .category_esporte .track_stats .read_more a {
  background: transparent url('images/read-more-cult.png') no-repeat center center;
  display: block;
  height: 28px;
  width: 28px;
}

.controller-home #content .track_list .category_cultura .track_stats .read_more a span,
.controller-home #content .track_list .category_lazer .track_stats .read_more a span,
.controller-home #content .track_list .category_esporte .track_stats .read_more a span {
  display: none;
}

.controller-home #content .track_list .category_aguas,
.controller-home #content .track_list .category_infracoes-ambientais,
.controller-home #content .track_list .category_ambientes-ocupados-pelo-homem,
.controller-home #content .track_list .category_areas-protegidas,
.controller-home #content .track_list .category_biodiversidade,
.controller-home #content .track_list .category_cidadania-ambiental,
.controller-home #content .track_list .category_economia-e-meio-ambiente,
.controller-home #content .track_list .category_gestao-de-meio-ambiente,
.controller-home #content .track_list .category_florestas {
  background: #F7FAE7;
  border-color: #DDE5BF;
}

.controller-home #content .track_list .category_aguas .track_content .title,
.controller-home #content .track_list .category_infracoes-ambientais .track_content .title,
.controller-home #content .track_list .category_ambientes-ocupados-pelo-homem .track_content .title,
.controller-home #content .track_list .category_areas-protegidas .track_content .title,
.controller-home #content .track_list .category_biodiversidade .track_content .title,
.controller-home #content .track_list .category_cidadania-ambiental .track_content .title,
.controller-home #content .track_list .category_economia-e-meio-ambiente .track_content .title,
.controller-home #content .track_list .category_gestao-de-meio-ambiente .track_content .title,
.controller-home #content .track_list .category_florestas .track_content .title {
  background: #FFF url('images/icon-env.png') no-repeat 15px center;
  border-color: #DDE5BF;
  color: #64BCCA;
}

.controller-home #content .track_list .category_aguas .track_stats,
.controller-home #content .track_list .category_infracoes-ambientais .track_stats,
.controller-home #content .track_list .category_ambientes-ocupados-pelo-homem .track_stats,
.controller-home #content .track_list .category_areas-protegidas .track_stats,
.controller-home #content .track_list .category_biodiversidade .track_stats,
.controller-home #content .track_list .category_cidadania-ambiental .track_stats,
.controller-home #content .track_list .category_economia-e-meio-ambiente .track_stats,
.controller-home #content .track_list .category_gestao-de-meio-ambiente .track_stats,
.controller-home #content .track_list .category_florestas .track_stats {
  background: #9DB329;
}

.controller-home #content .track_list .category_aguas .track_stats .read_more a,
.controller-home #content .track_list .category_infracoes-ambientais .track_stats .read_more a,
.controller-home #content .track_list .category_ambientes-ocupados-pelo-homem .track_stats .read_more a,
.controller-home #content .track_list .category_areas-protegidas .track_stats .read_more a,
.controller-home #content .track_list .category_biodiversidade .track_stats .read_more a,
.controller-home #content .track_list .category_cidadania-ambiental .track_stats .read_more a,
.controller-home #content .track_list .category_economia-e-meio-ambiente .track_stats .read_more a,
.controller-home #content .track_list .category_gestao-de-meio-ambiente .track_stats .read_more a,
.controller-home #content .track_list .category_florestas .track_stats .read_more a{
  background: transparent url('images/read-more-env.png') no-repeat center center;
  display: block;
  height: 28px;
  width: 28px;
}

.controller-home #content .track_list .category_ciencia-e-tecnologia,
.controller-home #content .track_list .category_comunicacao,
.controller-home #content .track_list .category_informacao {
  background: #F4FBFB;
  border-color: #0D3E6A;
}

.controller-home #content .track_list .category_ciencia-e-tecnologia .track_content .title,
.controller-home #content .track_list .category_comunicacao .track_content .title,
.controller-home #content .track_list .category_informacao .track_content .title {
  background: #FFF url('images/icon-tec.png') no-repeat 15px center;
  border-color: #0D3E6A;
  color: #E4CAA7;
}

.controller-home #content .track_list .category_ciencia-e-tecnologia .track_stats,
.controller-home #content .track_list .category_comunicacao .track_stats,
.controller-home #content .track_list .category_informacao .track_stats {
  background: #123D6E;
}

.controller-home #content .track_list .category_ciencia-e-tecnologia .track_stats .read_more a,
.controller-home #content .track_list .category_comunicacao .track_stats .read_more a,
.controller-home #content .track_list .category_informacao .track_stats .read_more a {
  background: transparent url('images/read-more-tec.png') no-repeat center center;
  display: block;
  height: 28px;
  width: 28px;
}

/* -- Custom News CSS -- */
.controller-home #content .block.todasnoticias.raw-html-block {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
  max-width: 1200px;
}

.controller-home #content .todasnoticias #read-more-news a {
  background: #404040;
  border-radius: 45px;
  padding: 10px 45px;
  width: auto;
  color: #FFF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (max-width: 1019px) {
  .controller-home #content .block.todasnoticias.raw-html-block {
    margin-left: 0px;
  }
}

/* Centralização de blocos para a pagina inicial*/
.controller-home #content .blocks {
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
}

.controller-home #content .estatisticas,
.controller-home #content .nuvemtag {
  flex: 1 100%;
  margin: 0px;
  padding: 0px;
}

.controller-home #content .destaquemaior,
.controller-home #content .destaquemenor {
  width: 410px;
  text-align: left;
  padding-bottom: 40px;
}

.controller-home #content .destaquemaior {
  order: 1;
}

.controller-home #content .destaquemenor {
  order: 2;
}

.controller-home #content .conexoes {
  order: 3;
}

.controller-home #content .pessoas {
  order: 4;
}

.controller-home #content .comunidades {
  order: 5;
}

.controller-home #content .redessociais {
  order: 6;
}

.controller-home #content .estatisticas {
  order: 7;
}

.controller-home #content .nuvemtag {
  order: 8;
}



/* To use the following custom CSS, you need place the class name (ex.:
trilha, destaque or conexoes) inside the "Custom CSS properity" on the section
options */


/* -- Custom Sections CSS -- */

/* Trilha */
.controller-home #content .trilha .section-block {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #FFF !important;
  background-color: #308dc6 !important;
  padding-left: 6%;
}

/* Destaque */
.controller-home #content .destaque .section-block {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #FFF !important;
  background-color: #404040 !important;
  padding-left: 6%;
}

/* Conexões */
.controller-home #content .conexoes .section-block {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #FFF !important;
  background-color: #90b500 !important;
  padding-left: 6%;
}

/* Destaque parte maior */
.controller-home #content .destaquemaior .title {
  color: #3F3F3F;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.controller-home #content .destaquemaior .image {
  height: auto;
  overflow: hidden;
  max-height: 345px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  text-align: center;
}

.controller-home #content .destaquemaior .read_more {
  background: #E4E4E4;
  margin: 0;
  padding: 15px 20px 15px 20px;
}

.controller-home #content .destaquemaior .read_more a {
  background: url("images/09.png") no-repeat left center;
  color: #3F3F3F;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding-left: 40px;
  text-decoration: none;
  text-transform: lowercase;
}

/* Destaque parte menor*/
.controller-home #content .block.destaquemenor.display-content-block {
  max-width: 305px;
  padding-left: 18px;
}

.controller-home #content .destaquemenor ul {
  margin: 0;
  max-width: 290px;
}

.controller-home #content .destaquemenor ul li {
  border-top: 1px solid #373737;
  display: inline-block;
  margin: 0;
  padding-bottom: 10px;
  width: 290px;
}

.controller-home #content .destaquemenor .block-title {
  border-bottom: none;
}

.controller-home #content .destaquemenor .block-title span {
  background: none;
  color: #BEBEBE;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 22px;
  font-variant: normal;
  font-weight: bold;
  padding: 0;
  max-width: 290px;
}

.controller-home #content .destaquemenor .image {
  float: left;
  height: 125px;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 160px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}

.controller-home #content .destaquemenor .image img {
  position: absolute;
}

.controller-home #content .destaquemenor .published-at {
  float: left;
  padding-left: 10px;
  padding-right: 33px;
}

.controller-home #content .destaquemenor .title {
  float: left;
  margin: 0 0 20px 20px;
  max-height: 65px;
  overflow: hidden;
  width: 110px;
  position: relative;
}

.controller-home #content .destaquemenor .title a {
  color: #3F3F3F;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.controller-home #content .destaquemenor .read_more {
  float: left;
  height: 25px;
  margin-left: 10px;
  width: auto;
  padding-right: 42px;
}

.controller-home #content .destaquemenor .read_more a {
  background: url("images/09.png") no-repeat left center;
  background-size: 20px 20px;
  color: #3F3F3F;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 20px;
  line-height: 20px;
  text-decoration: none;
  text-indent: 25px;
  text-transform: lowercase;
}

@media only screen and (max-width: 307px) {
  .controller-home #content .block.destaquemenor.display-content-block{
    padding-left: 0px;
  }
}

/*-------------------------------------------------Pessoas (People)-------------------------------------------------*/
.controller-home #content .block.pessoas.people-block {
  width: 305px;
  height: 440px;
  background: #DEDEDE;
  margin: 0 15px 15px 0 !important;
}

.controller-home #content .pessoas .block-header {
  background: #90B500;
}

.controller-home #content .pessoas .block-title {
  border-bottom: none;
  padding-top: 40px;
  font-size: 22px;
  text-align: left;
  margin-top: -10px !important;
  padding-left: 10px;
}

/*-------------------------------------------------Comunidades (Communities)-------------------------------------------------*/
.controller-home #content .block.comunidades.communities-block {
  width: 305px;
  height: 440px;
  background: #DEDEDE;
  margin: 0 15px 15px 0 !important;
}

.controller-home #content .comunidades .block-header {
  background: #90B500;
}

.controller-home #content .comunidades .block-title {
  border-bottom: none;
  padding-top: 40px;
  font-size: 22px;
  text-align: left;
  margin-top: -10px !important;
  padding-left: 10px;
}

.controller-home #content .comunidades .common-profile-list-block.vcard .profile_link span.org {
  height: 50px;
  text-overflow: ellipsis;
  width: 100%;
}

/* .controller-home #box-1 .comunidades h3.block-title {
  margin-bottom: 12px;
} */

/*-------------------------------------------------Redes Sociais (Social Networks)-------------------------------------------------*/
.controller-home #content .block.redessociais.raw-html-block {
  width: 305px;
  height: 440px;
  background: #DEDEDE;
  margin: 0 15px 15px 0 !important;
}

.controller-home #content .redessociais .block-header {
  background: #90B500;
}

.controller-home #content .redessociais .block-title {
  border-bottom: none;
  padding-top: 40px;
  padding-left: 10px;
  font-size: 22px;
  text-align: left;
  margin-top: -10px !important;
}

.controller-home #content .redessociais li {
  cursor: pointer;
  display: inline-block;
  background-image: url("images/home/sprite.png");
  width: 35px;
  height: 35px;
}

.controller-home #content .redessociais .raw-html-facebook {
  display: flex;
  flex-direction: column;
}

.controller-home #content .redessociais .raw-html-facebook .social_widget_facebook .fb-page {
  width: 285px;
}

.controller-home #content .redessociais .raw-html-facebook .social_widget_facebook {
  display: flex;
  justify-content: center;
}

.controller-home #content .redessociais .raw-html-facebook .others_social_net ul {
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
}

.controller-home #content .redessociais li a span {
  display: none;
}

.controller-home #content .redessociais li.instagram {
  /* background: url("images/home/icon-insta.png") no-repeat left center; */
  background-position: 0 -150px;
}

.controller-home #content .redessociais li.twitter {
  /* background: url("images/home/icon-tw.png") no-repeat left center; */
  background-position: -195px -110px;
}

.controller-home #content .redessociais li.facebook {
  /* background: url("images/home/icon-face.png") no-repeat left center; */
  background-position: -300px -110px;
}

/* Botão verde */
.controller-home #content .block.pessoas.people-block .block-footer-content a.view-all,
.controller-home #content .block.comunidades.communities-block .block-footer-content a.view-all {
  background: #8EB500 none;
  border-radius: 20px;
  color: #FFF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  padding: 7px 20px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  word-break: keep-all;
}

/*---------------------------------------------------Estatisticas (Statistics)---------------------------------------------------*/
.controller-home #content .estatisticas .statistics-block {
  background-color: #0C763E;
  display: inline-block;
  width: 100%;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  /* margin: 50px 0px -62px 0px !important; */
  /* padding: 0 !important; */
}

.controller-home #content .estatisticas .block-title {
  display: none;
}

.controller-home #content .estatisticas .statistics-block {
  text-align: center;
}

.controller-home #content .estatisticas .statistics-block ul {
  display: inline-block;
  list-style: none;
  margin: 15px 0 0 0;
}

.controller-home #content .estatisticas .statistics-block li {
  color: #fff;
  display: inline-block;
  margin: 0 40px 20px 0;
  text-align: center;
}

.controller-home #content .estatisticas .statistics-block i {
  display: none;
}

.controller-home #content .estatisticas .statistics-block span {
  display: block;
}

.controller-home #content .estatisticas .statistics-block .amount {
  font-family: 'Ubuntu Mediun', Arial, Helvetica, sans-serif;
  font-size: 72px;
  font-weight: 800;
}

.controller-home #content .estatisticas .statistics-block .label {
  color: white;
  font-size: 200%;
  font-weight: normal;
}

/*-------------------------------------------------Nuvem de Tag (Tag_Cloud)---------------------------------------------------*/
.controller-home #content .nuvemtag .tags-cloud-block {
  /*margin: -20px 0 -45px 0;*/
}

.controller-home #content .nuvemtag .block-header .block-title {
  display: none;
}

.controller-home #content .nuvemtag .tag_cloud {
  display: inline-block;
  background-color: #F8C300;
  /* margin: 0px 0px -62px 0px; */
  padding: 1em 0;
  width: 100%;
}

.controller-home #content .nuvemtag .tag_cloud a.tag-cloud-item {
  color: #497B16;
  background: transparent;
  font-family: 'Ubuntu Mediun';
  font-weight: normal;
  white-space: normal;
}

.controller-home #content .nuvemtag .tag_cloud a.tag-cloud-item:hover {
  text-decoration: underline;
}
