@import url(../base/style.css);
@import url(./contraste.css);
@import url(./home.css);

a img {
  max-width: 100%;
  height: auto;
}

#title-bar {
  background-color: gray;
}

#title-bar h1 {
  color: white;
}

#chat-window {
  background: white;
}

#buddy-list #environment-logo {
  background-color: #BBB;
}

/* Members list*/
.profile-members-tabs-container .ui-corner-all {
  padding-bottom: 10px;
}

#content #members-tab ul.profile-list-members,
#content #admins-tab ul.profile-list-admins {
  margin: 10px auto;
}

.common-profile-list-block .profile-image {
  height: auto;
}

/* .common-profile-list-block .profile-image img {
  max-height: 80px;
  max-width: 80px;
} */

#content .block .common-profile-list-block.vcard .profile_link span.org {
  text-overflow: ellipsis;
  width: 58px;
}

.box-1 .common-profile-list-block span {
  width: 50px; /* 84px; */
}

.box-1 .common-profile-list-block span.fn {
  display: none;
  margin: auto;
  width: 100%;
}

#content .box-1 .block .common-profile-list-block.vcard,
#content .box-1 .block .common-profile-list-block.vcard .profile_link {
  padding: 0;
  width: 70px;
}

#content .box-1 .common-profile-list-block .vcard a {
  height: auto;
  margin: 0;
}

.action-profile-send_mail .send-mail-recipients {
  color: #888888;
  padding: 10px;
  width: 475px;
  line-height: 15px;
}

form#file_upload_form .formfieldline label {
  display: inline-block;
  margin-right: 5px;
}

form#file_upload_form .formfieldline .formfield {
  display: inline-block;
}

form#file_upload_form .formfieldline .formfield select {
  width: 60%;
}

form#file_upload_form .button-bar a.icon-add {
  margin-right: 6px;
}

table.uploaded_files_table tr {
  border-top: 1px solid #ddd;
  height: 6em;
}

table.uploaded_files_table tr td:first-child {
  width: 70%;
}

table.uploaded_files_table tr:hover td {
  background-color: inherit;
}

table.uploaded_files_table tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.hidden-submit {
  display: none !important;
}

i {
  font-size: 1.1em;
  margin-right: 4px;
}

body hr {
  margin: 25px 0 0 0;
  border-width: 1px;
  color: lightgrey;
  margin-top: 25px;
}

body textarea {
  border: 1px solid rgb(169, 169, 169);
  font-size: 13px;
}

body select {
  display: block;
  padding: 6px 70px 6px 12px;
  max-width: 100%;
  height: 100%;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  background: url(/images/selectbox-down-arrow.png) right center no-repeat;
  background-color: #fff;
  color: #444444;
  font-size: 1.1em;
  line-height: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media only screen and (max-width: 960px) {
  body select {
    padding: 6px 40px 6px 12px;
  }
}

@media only screen and (max-width: 540px) {
  body select {
    padding: 6px 25px 6px 12px;
  }
}

body select option {
  padding: 0 4px;
}

select::-ms-expand {
  display: none;
}

select:disabled::-ms-expand {
  background: #f60;
}

a.remove-file {
  font-size: 1.4em;
  cursor: pointer;
}

#top-search {
  justify-content: center;
}

#search-button {
  height: 50% !important;
}

#crop-image {
  display: none;
  width: 700px;
  height: 540px;
  padding: 10px 8px;
}

#crop-image #cropbox {
  margin: auto;
}

/*-----------------------------------------------------Header-----------------------------------------------------*/
#navigation ul li {
  font-weight: bold;
}

/*Important foi adicionado por conta de outra configuração em base.css (.noosfero-dropdown-menu) */
#navigation {
  color: #00500f;
  background: #f8c300;
}

#wrap-2 #navigation ul .user-home .home,
#wrap-2 #navigation ul .user-home .fa-user,
#wrap-2 #navigation ul .user-pending-tasks,
#wrap-2 #navigation ul .user-pending-tasks .menu-toggle .fa-bell,
#wrap-2 #navigation ul .trigger-menu-toggle,
#wrap-2 #navigation ul .menu-toggle,
#wrap-2 #navigation ul #link_login,
#wrap-2 #navigation ul .signup-link a {
  color: #00500f;
  background: #f8c300;
}

#wrap-2 #navigation ul li a:hover {
  color: #118F0A !important;
}

#navigation {
  justify-content: flex-end;
}

#navigation #site-title {
  display: none;
}

@media only screen and (max-width: 960px) {
  #navigation > ul > li.user-menu ul.noosfero-dropdown-menu {
    right: 4px;
  }
  .header-content #header {
    padding-right: 1%;
    padding-left: 1%;
  }
}

.header-content {
  margin: 0px;
  padding: 0px;
}

#header {
  background-image: -webkit-radial-gradient(center, ellipse cover, #fcdd4e 1%, #f9c404 100%);
  padding-right: 6%;
  padding-left: 6%;
}

#header #sobre {
  clear: both;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  max-width: 100%;
}

.top-header, .mid-header, .bottom-header {
  margin: 0 auto;
}

.header-content li {
  display: inline;
}

.header-content a:hover {
  color: #118F0A; /*!important;*/
}

#sobre #link-faq a {
  border-right: 1px solid #00500f;
  padding: 0 10px;
}

#sobre a:link {
  text-decoration: none;
}

#sobre ul {
  margin: 0 auto;
  text-align: right;
}

#sobre a {
  color: #00500f;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

#sobre a:hover {
  color: #118F0A;
}

/*-----------------------------------------------------Social Icons */
#social-icons li a {
  width: 20px;
  height: 20px;
  padding: 0px;
  display: inline-block;
  background-repeat: no-repeat;
}

#social-icons #sb_face {
  background-image: url(images/icon-fb-verde.png);
}

#social-icons #sb_face:hover {
  background: url(images/icon-fb-verde.png) 0 20px;
}

#social-icons #sb_flickr {
  background-image: url(images/icon-flickr-verde.png);
}

#social-icons #sb_flickr:hover {
  background: url(images/icon-flickr-verde.png) 0 20px;
}

#social-icons #sb_twitter {
  background-image: url(images/icon-twitter-verde.png);
}

#social-icons #sb_twitter:hover {
  background: url(images/icon-twitter-verde.png) 0 20px;
}

#social-icons #sb_youtube {
  background-image: url(images/icon-yt-verde.png);
}

#social-icons #sb_youtube:hover {
  background: url(images/icon-yt-verde.png) 0 20px;
}

#social-icons {
  clear: right;
  float: right;
  margin: 0px;
}

#social-icons li {
  float: right;
  width: 20px;
  margin-left: 4px;
}

#social-icons span {
  display: none;
}

/*-----------------------------------------------------Logo */
#logo {
  clear: both;
  float: left;
}

#logo #portal-title {
  margin: 30px 0px 20px 0px;
  color: #03316f;
  font-size: 40px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 800;
  line-height: 1em;
  letter-spacing: -0.05em;
}

#logo span {
  display: block;
}

#logo a:link {
  text-decoration: none;
}

.button, i {
  font-size: 12px !important;
}

@media only screen and (max-width: 768px) {
  .top-header #accessibility{
    display: none;
  }
  #social-icons li, #social-icons ul, #sobre ul, #social-icons, #logo, #header, .top-header #portal-siteactions, .search_form {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
  }
  .search_form.clean {
    max-width: 22em;
    background-color: #fff;
  }
}

#social-icons form#top-search input {
  border-radius: 4px;
}

#top-search input {
  padding: 0.45em;
  border: none;
}

#top-search .button.with-text.icon-search {
  background-color: #fff !important;
  color: #00500f !important;
  border: none;
}

#top-search .search_form {
  background: #fff;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 80%;
  margin: 30px 0 14px;
  padding: 2px;
  margin: 0 auto;
}

#accessibility *, #portal-siteactions * {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

#accessibility {
  display: block;
  float: left;
  font-family: arial;
  font-size: 10px;
  list-style: none;
  padding-left: 0px;
}

#accessibility span {
  background: none repeat scroll 0 0 #497B16;
  color: #FFFFFF;
  padding: 0 4px;
}

#accessibility a {
  color: #00500f;
  margin-right: 8px;
  text-decoration: none;
}

#portal-siteactions {
  display: block;
  float: right;
  font-size: 10px;
  text-align: right;
}

#portal-siteactions a {
  border-bottom: 1px dotted #00500f;
  color: #00500f;
  padding: 2px 0px;
  text-decoration: none;
  text-transform: uppercase;
}

#portal-siteactions li {
  display: inline;
  margin: 0px 0px 0px 15px;
}

/*-----------------------------------------------------Footer-----------------------------------------------------*/
#theme-footer {
  width: 100%;
}

#footer-content {
  background: #fff;
}

#footer-logos {
  background: #F28F00;
  height: 49px;
  max-width: 100%;
  padding: 2em 0;
  padding-left: 6%;
  padding-right: 6%;
}

/*Comando de media deve ficar abaixo do elemento correspondente para ter maior
importancia*/
@media only screen and (max-width: 960px) {
  #footer-logos {
    padding-left: 1% ;
    padding-right: 1% ;
  }
}

#footer-logos div {
  margin: 0 auto;
}

#footer-logos a {
  display: block;
  float: left;
  height: 49px;
}

#footer-logos span {
  display: none;
}

#footer-logos .logo-acesso {
  background: transparent url(images/acesso-a-informacao.png) center no-repeat;
  width: 107px;
}

#footer-logos .logo-brasil {
  background: transparent url(images/logo-brasil.svg) center no-repeat;
  height: 48px;
  width: 155px;
}

#footer-logos .logo-sgpr {
  background: transparent url(images/sgpr.png) center no-repeat;
  margin-right: 30px;
  width: 187px;
}

#footer-logos .institucionais {
  float: right;
  padding: 0%;
}

#footer-license {
  margin: 0 auto;
  text-align: center;
  padding: 19px;
}

#footer-license p {
  color: #F28F00;
  font-family: Liberation Sans, Arial, sans-serif;
  font-size: 12px;
}

#footer-license a {
  color: #0F0FEF;
  text-decoration: underline;
}
